.self-img {
  height: 250px;
  width: 200px;
}

.card-icon {
  width: 45px;
  height: 45px;
  margin: 18px 10px 0;
}

.about-me-title {
  margin-top: 50px;
}

.card-wrapper {
  margin: 55px 75px 30px;
  padding: 15px 15px 30px;
}
