<div class="container-fluid">
  <div class="col-md-12 about-me-title">
    <div class="display-6 text-center">ABOUT ME</div>
  </div>
  <div class="row mx-auto mb-5">
    <div class="col-md-4">
      <div
        class="card-wrapper shadow d-flex flex-column justify-content-center align-items-center"
      >
        <img class="self-img" src="assets/person.jpg" alt="Card image" />
        <img class="card-icon" src="assets/angular.png" alt="Card image" />
      </div>
    </div>
    <div class="col-md-8">
      <div
        class="card-wrapper d-flex flex-column justify-content-center align-items-center"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci eius,
        reprehenderit omnis exercitationem eveniet accusantium tenetur in
        quibusdam officiis amet libero sequi voluptatibus magnam necessitatibus,
        dolorum aliquid velit numquam temporibus saepe magni quos explicabo
        eligendi similique labore! Molestiae, porro magni!
      </div>
    </div>
  </div>
</div>
