<div
  class="container-fluid p-3 h-100vh primary-bg position-relative"
  [ngClass]="switchStatus ? 'dark-mode-bg' : 'primary-bg'"
>
  <div
    class="d-flex h-100 flex-column justify-content-center align-items-center"
    [ngClass]="switchStatus ? 'text-white' : 'text-dark'"
  >
    <div class="github-badge" #gitHubBadge></div>
    <i class="fas fa-desktop" style="font-size: 110px"></i>
    <div class="h1 mt-4">John Doe</div>
    <div class="display-6">Software Developer</div>
    <div class="form-check form-switch mt-4 position-relative" #switchParent>
      <input
        class="form-check-input"
        type="checkbox"
        id="mySwitch"
        [(ngModel)]="switchStatus"
        (ngModelChange)="toggleSwitch()"
      />
    </div>
  </div>
</div>
