/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";

.h-100vh {
  height: 100vh;
}

.w-100vw {
  width: 100vw;
}

.primary-bg {
  background-color: #24e3e3;
}

.dark-mode-bg {
  background-color: #494949;
}
